// All customer account pages
.customer-account {
	.page-title {
		padding-top: 1.75rem;
	}
	h1 {
		@include font-heading-3();
	}
	h2 {
		@include font-heading-4();
	}
	h3 {
		@include font-heading-5();		
	}
	h4 {
		@include font-heading-6();
	}
	address {
		line-height: 1.4;
	}
}
.account-navigation {
	padding-top: 2rem;
	ul {
		margin-left: 0;
	}
}



.dashboard {
	padding-bottom: 2rem;
	.box-head {
		border-bottom: $border-thin;
		padding-top: 1rem;
		margin-bottom: 1rem;
	}
	.manage-addresses {
		h3 {
			border-bottom: $border-thin;
			padding-bottom: .5rem;
			margin: 1.5rem 0;
		}
	}
	.dashboard-edit {
		p {
			margin-bottom: 0;
			padding-bottom: .5rem;	
		}
	}
	address {
		padding-bottom: 1rem;
	}

	// Recent orders
	.box-recent {
		.box-head a {
			padding-top: 1rem;
		}
		table {
			width: 100%;
			.last {
				width: 12rem;
			}
		}
	}


}


// Add and Edit address
.customer-address-form {
	// .form-list {
	// 	margin-left: 0;
	// }
	// // input[type="text"], select {
	// // 	width: 20rem;
	// // }
	// // label {
	// // 	width: 10rem;
	// // 	float: left;	
	// // 	padding-top: 4px;
	// // }
	// .control {
	// 	label {
	// 		width: 20rem;
	// 	}
	// 	input {
	// 		margin-top: .5rem;
	// 	}
	// }
	// #street_2 {
	// 	margin-left: 10rem;
	// }
	// // button[type="submit"] {
	// // 	margin-left: 16.5rem;
	// // }
}


// Account information
.customer-account-edit {
	.form-list {
		margin-left: 0;
	}
	.control input {
		margin-top: .5rem;
	}
	.no-display {
		display: none;
	}
}


// Address book page
.customer-address-index {
	address {
		padding-bottom: 1rem;
	}
	.addresses-primary,
	.addresses-additional {
		h2 {
			border-bottom: $border-thin;
			padding-bottom: .5rem;
			margin: 1.5rem 0;
		}
	}
}


// My orders page
.sales-order-history {
	.limiter {
		float: right;
		label {
			float: left;
			padding-right: .5rem;
			padding-top: .375rem;
		}
		select {
			width: 3rem;
		}
	}
	table {
		width: 100%;
		.last {
			width: 12rem;
		}
	}
}


// Individual order page
.sales-order-view {
	.print-reorder {
		padding-top: 1rem;
	}
	table {
		width: 100%;
	}
}



// Newsletter subscription 
.newsletter-manage-index {
	.form-list {
		margin: 0
	}
}

// Login page
a.forgot-password {
	display: inline-block;
	margin: 1rem 0;
} 





